@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.app {
  font-family: 'Poppins';
  color: #594157;
  /* text-align: center; */
  background: linear-gradient(180deg, #BEE7E8 25.74%, #B9ECED 69.78%, #FFFFFF 100%);
  min-height: 100vh;
  display: flex;
}

.app nav {
  position: absolute;
  width: 100%;
  height: 64px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
}

.title {
  position: absolute;
  width: 300px;
  height: 22px;
  left: 230px;
  top: 21px;

  /* Text */
  font-weight: 800;
  font-size: 32px;
  line-height: 22px;
  letter-spacing: -1px;
  text-transform: lowercase;
  color: #594157;
}

.titleLogo {
  position: absolute;
  left: 180px;
  top: 8px;
}

.uploadResume {
  position: absolute;
  width: 200px;
  height: 36px;
  left: 71%;
  top: 14px;
  background: #594157;
  border: none;
  border-radius: 15px;

  /* Text */
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  text-transform: lowercase;
  color: #FEFEFE;
}

.uploadResume:hover {
  background: #7D8CC4;
  cursor: pointer;
}

.uploadModal {
  position: absolute;
  width: 780px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FEFEFE;
  outline: none;
}

.uploadOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.uploadPromptDefault {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 530px;
  height: 162px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: 5px dashed #7D8CC4;
  border-radius: 20px;

  /* Text */
  padding: 20px;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  text-transform: lowercase;
  color: #594157;
}

.uploadPromptDefault:hover {
  border: 5px dashed #7D8CC4;
  color: #7D8CC4;
  cursor: pointer;
}

.uploadPromptSelected {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 530px;
  height: 162px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: 5px solid #594157;
  border-radius: 20px;

  /* Text */
  padding: 20px;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  text-transform: lowercase;
  color: #594157;
}

.uploadPromptSelected:hover {
  border: 5px solid #7D8CC4;
  color: #7D8CC4;
  cursor: pointer;
}

.uploadNameContainer {
  position: absolute;
  width: 580px;
  height: 87px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins';
}

.uploadNameContainer span {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.uploadNameForm {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 580px;
  height: 54px;
  background: #FEFEFE;
  border: 2px solid #7D8CC4;
  border-radius: 10px;

  text-align: center;
  font-family: 'Poppins';
  font-size: 14px;
}

.uploadSubmitBtn {
  position: absolute;
  width: 124px;
  height: 50px;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #726DA8;
  border: none;
  border-radius: 15px;

  /* Text */
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -1px;
  text-transform: lowercase;
  color: #FEFEFE;
}

.uploadSubmitBtn:hover {
  background: #7D8CC4;
  cursor: pointer;
}

.uploadCloseBtn {
  position: absolute;
  top: 1%;
  right: 2%;
  background: white;
  border: none;

  font-family: 'Poppins';
  font-weight: 800;
  font-size: 25px;
}

.uploadCloseBtn:hover {
  color: #7D8CC4;
  cursor: pointer;
}

.searchBar {
  /* Background */
  box-sizing: border-box;
  position: absolute;
  width: 780px;
  height: 50px;
  top: 14%;
  left: 20%;
  background: #FEFEFE;

  /* Border*/
  border: 2px solid #7D8CC4;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.searchLogo {
  position: absolute;
  left: 20px;
  top: 12px;
}

.searchInput {
  /* Invisible Box */
  width: 668px;
  height: 38px;
  background: white;
  outline: none;
  border: none;
  border-radius: 15px;

  /* Text */
  font-size: 16px;
  padding-top: 4px;
  padding-left: 56px;
  color: rgba(43, 43, 43, 0.75);
}

.searchAdvanced {
  position: absolute;
  top: 20%;
  right: -20%;
  letter-spacing: -1px;
}

.commonWordsSection {
  position: absolute;
  width: 780px;
  height: 50px;
  top: 23%;
  left: 20%;
  color: #2B2B2B;
  font-size: 16px;
}

.commonWordsContainer {
  position: absolute;
  display: flex;
  justify-content: start;
  left: 2%;
  gap: 3%;
}

.viewUploaded {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 78%;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2B2B2B;
  letter-spacing: -1px;
}

.resumeTilesBoard {
  position: absolute;
  display: flex;
  justify-content: center;
  /* centers flex items along main axis (horizontal) */
  flex-wrap: wrap;

  width: 90%;
  height: 50%;
  top: 35%;
  left: 5%;
}

.resumeTile {
  background: #FEFEFE;
  box-shadow: 2px 4px 10px #A0D2DB;
  border-radius: 20px;
  /* with absolute position, WxH is % of the div it is inside */
  width: 20%;
  height: 90%;
  margin: 1%;

  /* Text */
  font-size: 12px;
  color: #2B2B2B;
}

.resumeTile h1 {
  position: relative;
  font-size: 16px;
  left: 5%;
}

.resumeTile h2 {
  position: relative;
  font-size: 14px;
  left: 5%;
}

.resumeTile div {
  position: relative;
  left: 5%;
}

.resumeTile img {
  width: 15px;
  height: 15px;
}

.resumeSkillsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  height: 15%;
  gap: 5px;
  margin-left: -4%;
}

.resumeSkill {
  display: flex;
  height: 60%;
  box-sizing: border-box;
  padding: 3px 7px;
  border: 0.5px dashed #726DA8;
  border-radius: 10px;

  color: #726DA8;
}

.resumeTile button {
  /* Button */
  position: relative;
  width: 40%;
  height: 15%;
  background: #7D8CC4;
  border: none;
  border-radius: 15px;
  bottom: -10%;
  left: 29%;

  /* Text */
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -1px;
  text-transform: lowercase;
  color: #FEFEFE;
}

.resumeTile button:hover {
  background: #7D8CC4;
  cursor: pointer;
}

.paginationBar {
  position: absolute;
  right: 10%;
  bottom: 7%;
}